/* Expand footer logo */
.main-footer__badge {
  display: block;
  width: 80%;
  text-align: left;
  max-width: 325px;
  padding-top: 6px;
  position: static !important;
}

/* Expand footer */
.main__footer__nav {
  text-align: right;
}
